<?xml version="1.0"?>
<launch>
  <!-- Select Parameters -->
  <arg name="map" default="$(find hsr_launch)/config/gazebo/map/hsr_tc123/map.yaml"/>
  <arg name="world_name" default="$(find nrp_gazebo_worlds)/worlds/hsr_tc123.world" />
  <arg name="rviz_name" default="$(find hsr_launch)/config/rviz/hsr_demo.rviz" />
  <arg name="namespace" default="/hsrb"/>
  <arg name="debug" default="false"/>
  <arg name="gui" default="true" />
  <arg name="rviz" default="true"/>
  <arg name="gazebo_visualization" default="true" />
  <arg name="use_manipulation" default="true" />
  <arg name="use_navigation" default="true" />
  <arg name="use_perception" default="true" />
  <arg name="use_task" default="true" />
  <arg name="use_teleop" default="true" />
  <arg name="use_web" default="true" />
  <arg name="use_laser_odom" default="true" />
  <arg name="paused" default="true" />
  <arg name="fast_physics" default="false" />
  <arg name="robot_name" default="hsrb" />
  <!--<arg name="rviz_name" default="$(find hsrb_common_launch)/config/hsrb_display_full_$(arg robot_name).rviz" />-->

  <arg unless="$(arg fast_physics)" name="world_suffix" value=""/>
  <arg     if="$(arg fast_physics)" name="world_suffix" value="_fast"/>

  <include file="$(find hsr_launch)/config/gazebo/launch/em_hsrb_gazebo_common.xml" pass_all_args="true" >
    <arg name="map" default="$(arg map)" />
    <arg name="world_name" value="$(arg world_name)"/>
    <arg name="robot_pos" value="-x 0 -y 0 -z 0 -Y 0" />
  </include>

  <group ns="/laser_2d_localizer">
    <param name="init_x" value="-0.4"/>
    <param name="init_y" value="0.6"/>
    <param name="init_theta_deg" value="180.0"/>
  </group>
</launch>

