<?xml version="1.0" encoding="UTF-8"?>
  <launch>
    <!-- Parameters: -->
    <arg name="x" default="0.0"/>
    <arg name="y" default="0.0"/>
    <arg name="z" default="0.0"/>
    <arg name="roll" default="0.0"/>
    <arg name="pitch" default="0.0"/>
    <arg name="yaw" default="0.0"/>
    <arg name="urdf_robot_file" default=""/>
    <arg name="robot_name" default=""/>

    <!-- This version was created due to some errors seen in the orignal one that crashed Gazebo or went too slow with spawn. -->
    <!-- Load the URDF into the ROS parameter server. -->
    <param name="robot_description_$(arg robot_name)" command="cat $(arg urdf_robot_file)"/>

    <!-- Run a Python script to the send a service call to 'gazebo_ros' to spawn a URDF robot. -->
    <node name="urdf_spawner_$(arg robot_name)" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen" args="-urdf -x $(arg x) -y $(arg y) -z $(arg z) -R $(arg roll) -P $(arg pitch) -Y $(arg yaw) -model $(arg robot_name) -param robot_description_$(arg robot_name)"/>
  </launch>
