<robot name="3rd_iphone">

    <link name="3rd_iphone">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="0.166667" ixy="0.0" ixz="0.0" iyy="0.166667" iyz="0.0" izz="0.166667"/>
        </inertial>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <mesh filename="package://nrp_gazebo_worlds/models/3rd_iphone/meshes/3rd_iphone.dae"/>
            </geometry>
        </collision>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="package://nrp_gazebo_worlds/models/3rd_iphone/meshes/3rd_iphone.dae"/>
            </geometry>
        </visual>
    </link>

    <gazebo reference="3rd_iphone">

    </gazebo>

</robot>
